.mainContent {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 10px;
}

.secHero {
    background-color: blueviolet;
    height: 400px;
}

.secTienda {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.secPromo {
    flex-grow: 2;
}

.contenidoPromo {
    background-color: blueviolet;
    position: sticky;
    top: 10vh;
}

.secCarrito {
    flex-grow: 2;
}

.contenidoCarrito {
    background-color: blueviolet;
    position: sticky;
    top: 10vh;
}

.secCatalogo {
    flex-grow: 3;
    height: fit-content;
}

@media only screen and (max-width: 1096px){
    .secPromo {
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .secPromo {
        display: none;
    }

    .secCarrito {
        display: none;
    }
}